@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body { 
   font-family: "Inter", sans-serif;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
header{
   background-color: #FFFFFF;
}
#container {
   width: 100%;
   max-width: 80%;
   margin: 0px auto;
}
.nav-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0px;

}
.nav-list{
   display: flex;
   list-style: none;
   gap: 20px;
   align-items: center;
}
.nav-list a{
   text-decoration: none;
   color: #000000;
   font-size: 16px;
   font-weight: 500;
}
.nav-section img{
   max-width: 100%;
}
.btn{
   background-color: #469165;
   color: #FFFFFF;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}