@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: "Inter", sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header {
   background-color: #FFFFFF;
}

#container {
   width: 100%;
   max-width: 80%;
   margin: 0px auto;
}

.nav-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0px;

}

.nav-list {
   display: flex;
   list-style: none;
   gap: 20px;
   align-items: center;
}

.nav-list a {
   text-decoration: none;
   color: #000000;
   font-size: 16px;
   font-weight: 500;
}

.nav-section img {
   max-width: 100%;
}

.btn {
   background-color: #469165;
   color: #FFFFFF;
   padding: 12px 16px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
}

.banner-section {
   background-image: url("./images/hero-bg.png");
   background-position: cover;
   background-size: cover;
   text-align: center;
   padding: 70px 0px 120px 0px;

}

.banner-section h2 {
   font-size: 50px;
   font-weight: bold;
   color: #FFFFFF;
   margin: 16px 0px;

}

.banner-section p {
   color: #FFFFFF;
   line-height: 24px;
   margin-bottom: 16px;
}

.banner-section h2 span {
   color: #30B868;
}

.banner-section .btn2 {
   background: transparent;
   border: #FFFFFF solid 2px;
   padding: 12px 22px;
   color: #FFFFFF;
   border-radius: 5px;
   margin-left: 16px;
   cursor: pointer;

}

.banner-section .btn3 {
   color: #30B868;
   padding: 12px 16px;
   border-radius: 150px;
   border: none;
   background-color: #FFFFFF;
   cursor: pointer;

}

.notes-section {
   text-align: center;
}

.notes-section h2 {
   font-size: 48px;
   font-weight: bold;
   color: #001931;
   margin-top: 30px;
}

.notes-section p {
   color: #627382;
   font-size: 16px;
   margin-top: 16px;
}

.notes-section-box {
   display: flex;
   justify-content: center;
   gap: 16px;
   padding-top: 50px;
   background-color: #FFFFFF;
}

.notes-section-box img {
   background-color: #F95555;
   padding: 10px 10px;
   border-radius: 100%;
   margin-top: 40PX;
   margin-bottom: 10px;
   height: 60px;
   width: 60px;

}

.notes-section-box h4 {
   color: #001931;
   margin-bottom: 10px;

}

.notes-section-box p {
   color: #627382;
   line-height: 20px;

}

.notes-section-box .notes-section-card {

   max-width: 322px;
   box-shadow: 0 6px 50px 0 #0000000c;
   text-align: center;
   height: 250px;
   padding: 6px;

}

